<!doctype html>
<html>
<head>
    <!-- Setting the text encoding as UTF-8 -->
    <meta charset="UTF-8">
    <!-- Setting the view point mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}USask AI Course Planner{% endblock %}</title>
    <!-- Connects the CSS file through flask and searches for the filename  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <!-- Tags the url link to the main home page -->
    <a href="{{ url_for('main.home') }}">Home</a> •
    <!-- Tags the url link to the main about page -->
    <a href="{{ url_for('main.about') }}">About</a>
</nav>
<hr>
{% block content %}{% endblock %}
<!-- Closes the tags -->
</body>
</html>